# Node
node_modules
.next

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/

# Database
*.sqlite3

# Coverage
.coverage
htmlcov/

.venv